Data/__pycache__/yeastGEM_io.cpython-310.pyc
Model/__pycache__/model_utils.cpython-310.pyc
Data/yeast-GEM_adapted.xml
out.csv
Output/scc_variant2.png
Output/scc_all_manipulations.png
Output/scp_all.png
